.additions {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.additions__title {
  display: block;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 34px;
  position: relative;
}

.additions__title::after {
  content: "";
  position: absolute;
  top: 60%;
  margin-bottom: 30px;
  margin-left: 5%;
  background-color: @lightgreen;
  height: 2px;
  width: 50%;
  z-index: -1;
}

.additions__item {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  margin: 0;
  border-top: 1px solid @greydeep;
  border-bottom: 1px solid @greydeep;
}

.additions__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additions__name {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.additions__description {
  width: 280px;
  font-family: @addfont;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.additions-button {
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding: 10px;
}

@media (min-width: @tablet-width) {
  .additions {
    padding: 0;
    padding-top: 30px;
    padding-right: 4px;
  }

  .additions__title {
    font-size: 36px;
    line-height: 36px;
    margin: 42px 0 80px 0;
    padding-left: 34px;
    padding-right: 20px;
    position: relative;
    background-color: @white;
    width: 50%;
  }

  .additions__title::after {
    content: "";
    position: absolute;
    top: 60%;
    left: -50%;
    margin-bottom: 30px;
    background-color: @lightgreen;
    height: 2px;
    width: 284%;
    z-index: -1;
  }

  .additions__item {
    border: 1px solid @greydeep;
    padding: 28px 36px 25px 34px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: space-between;
  }

  .additions__name {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1/ 2;
    margin-top: -4px;
  }

  .additions__description {
    margin: 0;
    padding: 0;
    grid-column: 2/ -1;
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    gap: 15px;
  }

  .additions-button {
    grid-column: 1/ -1;
    grid-row: 2/ -1;
    margin-top: 2px;
  }
}

@media (min-width: @desktop-width) {
  .additions {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content;
    margin-bottom: 12px;
  }

  .additions__title {
    margin: 48px 10px 64px -36px;
    padding: 0 28px 0 38px;
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 28%;
  }

  .additions__title::after {
    top: 60%;
    width: 444%;
  }

  .additions__list {
    grid-column: 1/2;
    grid-row: 2/-1;
    padding-top: 20px;
  }

  .additions__name {
    width: 80%;
    padding-top: 8px;
  }

  .additions__item {
    width: 98%;
    grid-template-columns: 35% 38% 27%;
    grid-template-rows: 1fr;
    padding: 11px 0 16px 0;
    align-items: center;
    border: none;
    border-top: 1px solid @accentgrey;
    border-bottom: 1px solid @accentgrey;
    box-sizing: border-box;
  }

  .additions__description {
    grid-column: 2/ 3;
    justify-content: space-between;
    width: 89%;
    padding-left: 10px;
    padding-top: 10px;
  }

  .additions__price {
    width: 18%;
    margin: 0;
  }

  .additions-button {
    grid-column: 3/ -1;
    grid-row: 1/ -1;
    width: 90%;
  }
}
