.catalog-footer__contacts {
  background-color: @lightgrey;
}

@media (min-width: @tablet-width) {
  .catalog-footer__social {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .catalog-footer__wrapper {
    display: grid;
    grid-template-rows: repeat(1fr 5);
    grid-template-columns: repeat(1fr 3);
  }
}
