
.container-header {
  background-image: url("../../img/cat-and-green.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
}

.container-header__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.container-header__action {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
}

.container-header-product {
  padding: 20px;
}
