.container-diet {
  background-color: @lightgrey;
  padding: 20px;
}

.container-diet__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  padding-top: 14px;
  padding-left: 70px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
}

.container-diet__description {
  font-family: @addfont;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 23px;
  border-bottom: 1px @grey9d solid;
}

.container-diet__action {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  padding-right: 50px;
  cursor: pointer;
  position: relative;
}

.container-diet__action:active {
  opacity: 0.3;
}

.container-diet__action::after {
  content: url("../img/icons/arrow.svg");
  position: absolute;
  margin-top: 3px;
  margin-left: 14px;
}

.container-diet__fit {
  content: url("../img/icons/cat-fit-green.svg");
  align-self: center;
  position: absolute;
  width: 50px;
  height: 67px;
  top: -4px;
  right: 188px;
}

.container-diet__grow {
  padding-top: 14px;
}

.container-diet__power {
  content: url("../img/icons/cat-grow-green.svg");
  align-self: center;
  position: absolute;
  width: 67px;
  height: 50px;
  top: 10px;
  right: 178px;
}

@media (min-width: @tablet-width) {
  .container-diet {
    background-color: @lightgrey;
    padding: 76px 62px 50px 56px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .container-diet__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-left: 0;
    padding-top: 0;
    text-align: start;
    text-transform: uppercase;
  }

  .container-diet__grow {
    padding: 0;
  }

  .container-diet__description {
    font-family: @addfont;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: block;
    padding-top: 24px;
    margin: 0;
    width: 340px;
    padding-bottom: 23px;
  }

  .container-diet__action {
    font-size: 20px;
    line-height: 30px;
    display: block;
    padding-top: 30px;
  }

  .container-diet__action::after {
    padding-top: 0;
  }


  .container-diet__fit {
    width: 208px;
    height: 208px;
    top: 6px;
    right: -8px;
  }

  .container-diet__power {
    width: 268px;
    height: 208px;
    top: 14px;
    right: -38px;
  }
}

@media (min-width: @desktop-width) {
  .container-diet {
    padding: 58px 52px;
    width: 50%;
    position: relative;
  }

  .container-diet__title {
    padding-left: 164px;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 36px;
  }

  .container-diet__description {
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding-top: 20px;
    padding-bottom: 14px;
    width: 100%;
  }

  .container-diet__fit {
    content: url("../img/icons/cat-fit-green.svg");
    align-self: center;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -30px;
    left: 0;
  }

  .container-diet__power {
    content: url("../img/icons/cat-grow-green.svg");
    align-self: center;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -30px;
    left: 0;
  }
}
