.contacts {
  width: 100%;
  margin: 0;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 26px;
  box-sizing: border-box;
}

.contacts__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: start;
  justify-self: start;
}

.contacts__text {
  margin: 0;
  font-family: @addfont;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: start;
  align-content: stretch;
  justify-self: start;
}

.contacts-space {
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 100%;
    background-color: @white;
    padding: 54px 80px 63px 60px;
    column-gap: 0;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 32%;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    width: 28%;
  }

  .contacts__space {
    display: block;
    height: 10px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 595px;
    height: 198px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
    padding: 56px 80px;
    gap: 87px;
  }

  .contacts__title {
    text-align: start;
    width: 50%;
  }

  .contacts__text {
    text-align: start;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .contacts__space {
    display: block;
    height: 1em;
  }
}
