.contacts {
  width: 100%;
  margin: 0;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: @lightgrey;
}

.contacts-index {
  background-color: @white;
}

.contacts__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.01px;
  color: #111111;
  text-transform: uppercase;
  text-align: start;
  width: 100%;
}

.contacts__text {
  margin: 0;
  padding-left: 8px;
  font-family: @addfont;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: start;
  align-content: stretch;
  justify-self: start;
  width: 99%;
}

.contacts__space {
  display: inline;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 100%;
    background-color: @white;
    padding: 60px 64px 63px 76px;
    column-gap: 0;
  }

  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 30%;
  }

  .contacts__space {
    display: block;
    width: 600px;
    height: 26px;
  }

  .contacts__text {
    font-size: 16px;
    line-height: 16px;
    text-align: end;
    width: 28%;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 595px;
    height: 198px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
    padding: 56px 80px;
    gap: 37px;
    background-color: @white;
  }

  .contacts__title {
    text-align: start;
    width: 80%;
  }

  .contacts__text {
    text-align: start;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .contacts__space {
    display: block;
    height: 1.65em;
    width: 0;
  }
}
