
.diet-wrapper {
  display: flex;
  column-gap: 20px;
}

@media (min-width: @desktop-width) {
  .diet-wrapper {
    padding-top: 102px;
    padding-left: 110px;
    padding-right: 110px;
    column-gap: 80px;
  }
}
