.example {
  background-color: @grey;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 30px;
  align-self: flex-start;
}

.example__description {
  font-family: @addfont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__comment {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.example__photo {
  padding-top: 40px;
  padding-left: 20px;
}

.example__after {
  position: relative;
  padding: 0;
  margin-left: -6px;
  border-left: 4px solid #666666;
  border-radius: 2px;
}

.example__after:hover {
  border-left: 4px solid @lightgreen;
}

.example__thumb {
  position: absolute;
  fill: #666666;
  color: #666666;
  outline: none;
  border: 2px solid #666666;
  margin-top: 100px;
  margin-left: -26px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.example__thumb:hover {
  fill: @lightgreen;
}


@media (min-width: @tablet-width) {
  .example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: @white;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 63px;
    padding-bottom: 54px;
    margin: 0;
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .example__comment {
    grid-column: 2/-1;
    grid-row: 3/4;
    justify-self: end;
    text-align: end;
    font-weight: 500px;
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
  }

  .example__photo {
    grid-row: 4/5;
    grid-column: 1/-1;
    justify-self: end;
    align-items: center;
    min-width: 560px;
    height: 522px;
    background-image: linear-gradient(@white 33%, @grey 33%, @grey 66%);
    background-size: cover;
  }

  .example__before,
  .example__after {
    min-width: 280px;
    height: 522px;
  }

  .example__thumb {
    margin-top: 250px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: @desktop-width;
    background-color: @lightgrey;
    padding: 0;
    padding-bottom: 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    margin: 0;
    box-sizing: border-box;
  }

  .example__title {
    padding-left: 110px;
    padding-top: 50px;
    padding-bottom: 76px;
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: @white;
    align-self: flex-start;
    position: relative;
  }

  .example__description {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 75%;
    margin: 0;
    align-self: start;
    padding-left: 110px;
  }

  .example__comment {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    max-width: 50%;
    justify-self: start;
    padding-left: 110px;
    padding-top: 60px;
    display: inline;
    align-self: flex-start;
  }

  .example__comment-gap {
    padding-left: 63px;
  }

  .example__photo {
    position: absolute;
    margin-left: 70px;
    background-image: linear-gradient(@white 33%, @lightgrey 33%, @lightgrey 66%);
    background-position-x: 100%;
  }
}
