.example {
  background-color: @grey;
  margin-top: 46px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  align-self: flex-start;
}

.example__description {
  margin: 0;
  font-family: @addfont;
  padding: 40px 20px 20px 20px;
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__comment {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 22px;
  text-transform: uppercase;
  text-align: center;
}

.example__photo {
  padding-top: 4px;
  padding-left: 20px;
  padding-bottom: 33px;
  display: flex;
  position: relative;
}

.example__divider {
  color: #666666;
}

.example__thumb {
  position: absolute;
  color: #666666;
  outline: 2px solid #666666;
  margin-top: 110px;
  margin-left: -18px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.example__cursor {
  cursor: pointer;
  position: absolute;
  left: 159px;
}

.example__cursor:hover .example__thumb {
  color: @lightgreen;
  outline: 2px solid @lightgreen;
}

.example__cursor:hover .example__divider {
  color: @lightgreen;
}

.example__cursor:focus .example__divider {
  color: @lightgreen;
}

.example__cursor:focus .example__thumb {
  color: @lightgreen;
  outline: 2px solid @lightgreen;
}

.example__cursor:active .example__thumb {
  color: #5eaa2f;
  outline: 2px solid #5eaa2f;
}

.example__cursor:active .example__divider {
  color: #5eaa2f;
}

@media (min-width: @tablet-width) {
  .example {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: @white;
  }

  .example__title {
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
    font-size: 60px;
    line-height: 60px;
    grid-column: 1/-1;
    grid-row: 1/2;
    position: relative;
  }

  .example__title::after {
    content: "";
    position: absolute;
    margin-top: -44px;
    margin-left: -500px;
    background-color: #e6e6e6;
    height: 1px;
    width: 1000%;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-top: 63px;
    padding-bottom: 36px;
    padding-left: 0;
    width: 88%;
    margin: 0;
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .example__comment {
    grid-column: 2/-1;
    grid-row: 3/4;
    justify-self: center;
    text-align: end;
    align-self: center;
    font-weight: 500px;
    font-size: 20px;
    line-height: 28px;
    max-width: 174px;
    padding-top: 24px;
    margin-left: 80px;
    margin-top: 0;
  }

  .example__photo {
    justify-self: center;
    grid-row: 4/5;
    grid-column: 1/-1;
    min-width: 768px;
    margin-left: -35px;
    margin-right: 35px;
    padding: 90px 104px 90px 104px;
    box-sizing: border-box;
    background-image: linear-gradient(@white 35%, @grey 35%, @grey 65%);
    background-size: cover;
  }

  .example__before,
  .example__after {
    min-width: 280px;
    height: 522px;
  }

  .example__thumb {
    margin-top: 242px;
    margin-left: -22px;
  }

  .example__divider {
    height: 522px;
    margin-left: -4px;
  }

  .example__cursor {
    margin-top: 0;
    left: 388px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 100%;
    background-color: @lightgrey;
    padding: 0;
    padding-bottom: 55px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    margin: 0;
    box-sizing: border-box;
  }

  .example__title {
    padding-left: 110px;
    padding-top: 70px;
    padding-bottom: 76px;
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: @white;
    align-self: flex-start;
    position: relative;
  }

  .example__title::after {
    display: none;
  }

  .example__description {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 60%;
    margin: 0;
    align-self: start;
    padding-left: 110px;
    padding-top: 68px;
  }

  .example__comment {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    max-width: 50%;
    justify-self: start;
    padding-left: 110px;
    padding-top: 60px;
    display: inline;
    align-self: flex-start;
  }

  .example__comment-gap {
    padding-left: 63px;
  }

  .example__photo {
    position: absolute;
    margin-top: 54px;
    margin-left: 776px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    background-image: none;
  }

  .example__cursor {
    margin-top: 0;
    left: 342px;
  }
}
