.example {
  background-color: #EAEAEA;
  padding: 20px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__comment {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.example__photo {
  padding-top: 40px;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white;
  }

  .example__photo {
    background-color: @grey;
  }

  .example__comment {
    display: inline-block;
    text-align: end;
    position: absolute;

  }
}
