@media (min-width: @desktop-width) {
  .index-nav {
    padding-bottom: 600px;
    background-image: url("../../img/cat-and-green.png");
    background-repeat: no-repeat;
  }

  .index-nav__link {
    color: @white;
  }
}
