
.list-radio {
  display: block;
  text-align: start;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
  border-top: 1px @grey9d solid;
  border-bottom: 1px @grey9d solid;
}

.list-radio__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .list-radio {
    border: 1px @greymore solid;
    padding: 30px 30px 5px 30px;
  }
}

@media (min-width: @desktop-width) {
  .list-radio {
    border: 1px @greymore solid;
    padding: 25px 25px 0 25px;
  }
}
