.main-header {
  width: 100%;
  position: relative;
}

.main-header__toggle {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: @white;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: @grey;
  }
}

.main-header__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.main-nav--closed .main-header__toggle:active::before {
  background-color: fade(@black, 30%);
  box-shadow:
    0 8px 0 0 fade(@black, 30%),
    0 16px 0 0 fade(@black, 30%);
}

.main-nav--closed .main-header__toggle:active::before {
  background-color: fade(@black, 30%);
  box-shadow:
    0 8px 0 0 fade(@black, 30%),
    0 16px 0 0 fade(@black, 30%);
}

.main-nav--opened .main-header__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 24px;
    height: 1.5px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@black, 30%);
  }
}

.main-header__wrapper {
  padding: 10px 20px 15px;
  display: flex;
  justify-content: start;
  align-content: center;
}

.main-header__logo-word {
  align-self: center;
  padding-left: 56px;
  padding-right: 65px;
}

.main-header__toggle-active {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
  }

  .main-header__toggle-active {
    display: none;
  }

  .main-header__logo-word {
    display: none;
  }

  .main-header__logo-icon {
    content: url("../img/icons/logo-tablet.svg");
  }

  .main-header__wrapper {
    align-self: start;
    justify-content: flex-start;
    padding: 0;
  }
}


@media (min-width: @desktop-width) {
  .main-header__wrapper {
    align-self: start;
    margin-top: 54px;
    margin-left: 108px;
  }
}
