.main-header {
  width: 100%;
}

.main-header__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.main-header__toggle-active {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__toggle-active {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__toggle-active {
    display: none;
  }

  .main-header__logo-icon,
  .main-header__logo-word {
    display: none;
  }

  .main-header__wrapper {
    align-self: start;
    margin-top: 54px;
    margin-left: 108px;
    padding: 35px 108px;
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
  }
}
