.menu-nav {
  width: 100%;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .menu-nav {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .menu-nav {
    width: 50%;
    display: inline;
  }
}
