.menu-nav {
  width: 100%;
  text-align: center;
  position: relative;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .menu-nav {
    position: relative;
    display: inline;
    margin-left: 68px;
    margin-top: 4px;
  }

  .menu-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .menu-nav {
    width: 50%;
    display: inline;
    justify-self: end;
  }
}
