
.order-form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}


.welcome__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.welcome__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.order-form__legend {
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding: 22px 40px 32px 40px;
}

