.page-body {
  margin: 0 auto;
  background-color: @white;
  font-family: "Oswald", sans-serif;
  color: @black;
}

@media (min-width: @tablet-width) {
  .page-body {
    width: @tablet-width;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-body {
    width: @desktop-width;
  }
}
