.page-body {
  min-width: 320px;
  margin: 0 auto;
  background-color: @white;
  font-family: "Oswald", "Tahoma", sans-serif;
  color: @black;
}

@media (min-width: @mobile-width-only) {
  @mobile-width-only: 767px;
}

@media (min-width: @tablet-width) {
  .page-body {
    min-width: 768px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .page-body {
    min-width: @desktop-width;
  }
}
