.page-footer {
  text-align: center;
  margin-top: 6px;
}

.page-footer__wrapper {
  background-color: #f2f2f2;
}

.page-footer__wrapper-index {
  background-color: @white;
}

.page-footer__logo {
  display: inline-block;
  padding-top: 40px;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin-top: 0;
    width: 100%;
  }

  .page-footer__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .page-footer__logo {
    display: block;
    padding: 0;
    padding-left: 10px;
  }

  .page-footer__block {
    background-color: @lightgrey;
  }

  .page-footer__links {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 30px 18px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;

    @media (min-width: @desktop-width) {
      width: 1440px;
      padding: 65px 70px 32px 98px;
      box-sizing: border-box;
    }
  }
}
