.product-card {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 15px;
  padding-bottom: 25px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 2fr;
}

.product-card__image {
  display: block;
  align-self: end;
  justify-self: center;
}

.product-card__wrapper {
  padding-bottom: 30px;
}

.product-card__title {
  display: block;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-button {
  grid-column: 1/-1;
}

@media (min-width: @tablet-width) {

}
