.product-card {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 15px;
  padding-bottom: 25px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 2fr;
}

.product-card__image {
  display: block;
  align-self: end;
  justify-self: center;
}


.product-card__title {
  display: block;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card__product-description {
  display: inline;
}

.product-description__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.product-card__to-all {
  padding-top: 78px;
  padding-bottom: 25px;
  text-align: center;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
}

.product-card__all {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.product-card__all-comment {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
