.product-card {
  padding: 6px 20px 25px 20px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 2fr;
  box-sizing: border-box;
}

.product-card::before {
  content: "";
  position: absolute;
  margin-top: -7px;
  margin-left: -50%;
  background-color: #e6e6e6;
  height: 1px;
  min-width: 150%;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.product-card__image {
  display: block;
  align-self: end;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  grid-column: 1/ 2;
  grid-row: 1/ -1;
}

.product-card__small {
  width: 72px;
  margin-top: 45px;
  height: 84px;
}

.product-card__big {
  margin-top: 34px;
  width: 84px;
  height: 100px;
}

.product-card__wrapper {
  padding-bottom: 20px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  display: block;
  padding: 13px 0 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 60%;
  color: @dark;
  text-transform: uppercase;
  margin: 0;
}

.product-card__button {
  grid-column: 1/-1;
  font-family: "Oswald", sans-serif;
  padding: 10px;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .product-card {
    border: none;
    grid-template-columns: 1fr;
    background-image: linear-gradient(@white 15%, @grey 15%, @grey 85%);
    padding: 0 36px 0 36px;

    @media (min-width: @desktop-width) {
      padding: 0 35px 0 35px;
    }
  }

  .product-card__wrapper {
    padding: 0;
    padding-right: 7px;

    @media (min-width: @desktop-width) {
      padding: 0;
      margin-left: 4px;
      width: 90%;
    }
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    margin: 10px auto 0;
    grid-column: 1/-1;
    text-align: center;
    width: 55%;

    @media (min-width: @desktop-width) {
      margin: 0 20px 0 20px;
    }
  }

  .product-card__image {
    grid-column: 1/ -1;
    align-self: end;
  }

  .product-card__small {
    width: 163px;
    height: 180px;
    display: block;
    padding: 0;
    margin: 28px auto 10px;

    @media (min-width: @desktop-width) {
      height: 170px;
      margin-bottom: 4px;
      padding-left: 0;
    }
  }

  .product-card__big {
    width: 168px;
    height: 210px;
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2px;

    @media (min-width: @desktop-width) {
      height: 194px;
      margin-bottom: 4px;
    }
  }

  .product-card__button {
    margin: 33px auto 38px auto;
    width: 190px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    background-image: linear-gradient(@white 16%, @grey 16%, @grey 84%);
  }

  .product-card__button {
    margin-top: 35px;
    width: 145px;
  }

  .product-card__title {
    padding-top: 40px;
    width: 80%;
  }
}
