.product-more {
  padding-top: 78px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-top: 1px solid @greydeep;
  border-bottom: 1px solid @greydeep;
  position: relative;
}

.product-more__all {
  padding-top: 78px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.product-more__all-comment {
  font-family: @addfont;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 21px;
  color: @lightdark;
}

.product-more__plus {
  display: none;
}

.product-more__all::before {
  content: url("../img/icons/plus-phone.svg");
  position: absolute;
  margin-top: -50px;
  margin-left: 41.5%;
  text-align: center;
}

.product-more__button {
  background-color: @lightgrey;
  color: @lightdark;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .product-more {
    border: 2px solid @lightgrey;
    padding: 38px;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 2fr;
  }

  .product-more__all {
    font-size: 20px;
    line-height: 22px;
    display: block;
    padding-top: 60px;
    margin: 0;
    padding-bottom: 23px;
    justify-self: center;
    text-transform: uppercase;
    width: 70%;
  }

  .product-more__all::before {
    display: none;
  }

  .product-more__plus {
    display: block;
    color: @grey3d;
    justify-self: center;
  }

  .product-more__all-comment {
    font-size: 16px;
    line-height: 18px;
    justify-self: center;
    width: 80%;
  }

  .product-more__button {
    margin-top: 57px;
    color: #444444;
  }

  .product-more__button:hover {
    background-color: rgba(235, 235, 235, 1);
  }

  .product-more__button:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .product-more__all {
    padding-top: 50px;
    padding-bottom: 23px;
    justify-self: center;
    width: 90%;
  }

  .product-more__all-comment {
    justify-self: center;
    width: 95%;
  }

  .product-more__button {
    margin-top: 70px;
  }
}
