.program {
  padding: 20px;
}

.program__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  margin: 0;
}

.program__description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 101px;
  padding-top: 26px;
  color: #444444;
}

.program-icon {
  width: 60px;
  height: 60px;
  background-color: @lightgreen;
}

@media (min-width: @tablet-width) {
  .program__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
