.program {
  padding: 0 20px;
  width: 280px;
  margin: 0 auto;
}

.program__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  margin: 0;
}

.program__wrapper {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  row-gap: 20px;
}

.program__space {
  display: none;
}

.program__description {
  display: flex;
  font-family: @addfont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #444444;
}

.program__description-leaf,
.program__description-tub,
.program__description-eat,
.program__description-alarm {
  width: 60px;
}

.program__description-leaf {
  content: url("../img/icons/leaf-icon.svg");
  padding-right: 20px;
}

.program__description-tub {
  content: url("../img/icons/tub-icon.svg");
  padding-right: 20px;
}

.program__description-eat {
  content: url("../img/icons/eat-icon.svg");
  padding-right: 20px;
}

.program__description-alarm {
  content: url("../img/icons/alarm-icon.svg");
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .program {
    padding: 0;
    margin-top: 42px;
  }

  .program__wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 32px;
    row-gap: 76px;
  }

  .program__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 72px;
  }

  .program__description {
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    counter-increment: section;
    position: relative;
    width: 60%;
    margin: 0;
    padding: 0;
    padding-bottom: 57px;
    justify-self: start;
  }

  .program__description:nth-of-type(2n) {
    width: 70%;
  }

  .program__description::after {
    content: counter(section);
    position: absolute;
    top: -40px;
    left: 50%;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: @lightgrey;
    z-index: -1;
  }

  .program__description-leaf,
  .program__description-tub,
  .program__description-eat,
  .program__description-alarm {
    display: block;
    padding-bottom: 31px;
    width: 80px;
  }
}

@media (min-width: @desktop-width) {
  .program {
    padding: 26px 109px;
    padding-bottom: 0;
  }

  .program__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 98px;
    padding: 0;
    counter-reset: section;
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;
    counter-increment: section;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 57px;
    justify-self: start;
  }

  .program__description::after {
    left: 48%;
  }
}
