.social {
  padding-left: 20px;
  padding-right: 20px;
}

.social__list {
  padding: 8px;
  margin: 0;
  display: flex;
  justify-content: center;
  border-top: 1px @grey9d solid;
  border-bottom: 1px @grey9d solid;
}

.social__item {
  padding: 14px 14px;
  list-style: none;
}
