.user-comment {
  padding-top: 24px;
  width: 100%;
}

.user-comment__title {
  font-size: 24px;
  line-height: 26px;
  display: block;
  padding: 20px;
}

.user-comment__comment {
  display: block;
  padding: 0 auto;
  appearance: none;
  width: 100%;
}

.user-comment__comment::placeholder {
  font-size: 16px;
  line-height: 18px;
  padding: 0 auto;
  color: #444444;
  text-align: start;
  text-transform: uppercase;
}
