
.users-contact {
  border: none;
}

.users-contact__title {
  display: block;
  font-size: 24px;
  line-height: 26px;
}

.users-contact__wrapper {
  padding-top: 35px;
  padding-bottom: 8px;
}

@media (min-width: @tablet-width) {
  .users-contact {
    margin-top: 40px;
    padding: 40px;
    border-top: 2px @lightgreen solid;
  }

  .users-contact__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .users-contact {
    margin: 0 auto;
    padding: 0;
  }

  .users-contact__title {
    padding: 67px 20px 44px 0;
  }

  .users-contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
}
